<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="../img/myLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/pages/css/admin.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="assets/public-VN/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/public-VN/css/khachHang.css">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    <title>Admin</title>
    <style>
        div#tablePage_wrapper {
        width: 1200px;
    }
</style>
</head>

<body>
    <div id="admin" class="p-4">
        <div class="container-fluid">
            <div class="row d-flex">
                <!-- ________________________ -->
                <div class="col-md-2 ad-menu px-0">
                    <div class="ad-brand d-flex justify-content-center px-3">
                        <div class="d-flex align-items-center ps-2">
                            <img src="../img/admin.jpg" class="card-img-top circle">

                        </div>
                        <div class="card-body">
                            <h5 class="text-primary fw-bold">Admin</h5>
                            <p class="card-text text-secondary">Administrator</p>
                        </div>
                    </div>
                    <div class="ps-3 py-2">
                        <h5 class="text-primary fw-bold">Menu</h5>
                    </div>
                    <div class="ad-items">
                        <ul>
                            <li class="list-menu-items">
                                <i class="fas pe-1 fa-chart-bar text-info"></i> Doanh thu
                            </li>
                            <li class="list-menu-items ">
                                <i class="fas pe-1 fa-users text-danger"></i> Tài khoản
                            </li>
                            <li class=" list-menu-items active">
                                <i class="fas pe-1 fa-lemon text-warning"></i> Sản phẩm</li>
                            <li class="list-menu-items">
                                <i class="fas pe-1 fa-cart-arrow-down text-info"></i> Danh sách đặt hàng</li>
                            <li class=" list-menu-items">
                                <i class="fas pe-1 fa-comments text-success"></i> Phản hồi
                            </li>
                            <li class="sub-menu">
                                <div data-bs-toggle="collapse" href="#collapseMenu">
                                    <i class="fab pe-1 fa-page4 text-danger"></i> Các trang
                                    <i class="fas fa-sort-down ps-1"></i>
                                </div>

                                <ul class="collapse py-2" id="collapseMenu">
                                    <li>
                                        <a href="index.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="allProduct.html">Tất cả sản phẩm</a>
                                    </li>
                                    <li>
                                        <a href="product.html">Sản phẩm chi tiết</a>
                                    </li>
                                    <li>
                                        <a href="thanh-toan-ngay.html">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="introduce.html">Giới thiệu</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- ____________________________ -->
                <div class="col-md-10 ad-content p-0">
                    <!-- ___________________________________ -->
                    <div class=" ad-content-header d-flex align-items-center justify-content-between px-3">
                        <form class="navbar-search d-flex col-6 ">
                            <input id="search-input" onkeyup="myFilter()" class="form-control btn-search" type="search" placeholder="Tìm kiếm" aria-label="Search">
                            <i class="fas fa-search text-center"></i>
                        </form>
                        <div class="d-flex">
                            <button class="navbar-log btn ">
                                <i class="fas fa-bell"></i>

                            </button>
                            <button class="navbar-log btn  ">
                                <i class="fas fa-cogs"></i>

                            </button>

                            <button type="button" class="navbar-log btn ">
                                    <i class="fas fa-user"></i>
                                   <span class="user-name ps-1" > Admin
                                   </span>
                                   <i class="fas fa-sort-down ps-1"></i>

                            </button>

                        </div>
                    </div>


                    <!-- _______________Doanh thu_____________________ -->
                    <div class="ad-content-items m-2 px-2 py-5 bg-white">
                        <div class="ad-content-title mb-3 text-primary">
                            <h4>Doanh thu cửa hàng tháng 7</h4>
                        </div>

                        <div class="text-center">

                            <canvas id="frame_canvas" width=500 height=300>
                           
                        </canvas>
                        </div>
                    </div>

                    <!-- _______________users_____________________ -->
                    <div class=" ad-content-items m-2 px-2 py-5 bg-white">
                        <div class="ad-content-title mb-3 text-primary">
                            <h4>Danh sách tài khoản khách hàng</h4>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th class="text-center" scope="col">Tài khoản</th>
                                        <th class="text-center" scope="col">Email</th>
                                        <th class="text-center" scope="col">Mật khẩu</th>
                                        <th class="text-center" scope="col">SĐT</th>
                                        <th class="text-center" scope="col">Địa chỉ</th>
                                        <th class="text-center" scope="col">Note</th>

                                    </tr>
                                </thead>

                                <tbody id="list-user">
                                    <!-- render -->
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <!-- _______________products_____________________ -->

                    <div class="ad-content-items m-2 px-2 py-5 bg-white active">

                       <!-- form -->
                    <div class="container-fluid border border-primary">
                        <!-- form thêm sản phẩm -->
                        <div id="addProduct">
                            <h4 class="text-primary  my-3">Thêm sản phẩm</h4>
                            <form id="elements" name="form-addproduct" method="POST" action="/admin/product"
                                enctype="multipart/form-data">
                                <div class="row px-4">
                                    <div class="col-md-6">
                                        <!--  Tên sản phẩm -->
                                        <div class="row pr-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">Tên
                                                        sản phẩm:</span>
                                                </div>
                                                <input type="text" class="form-control" name="name" required id="name"
                                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- giá -->
                                            <div class="col-md-6 ml-0 px-0">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Giá (VNĐ)</span>
                                                    </div>
                                                    <input type="number" class="form-control" name="price" required
                                                        id="price" aria-label="Amount (to the nearest dollar)" min="0">
                                                </div>
                                            </div>
                                            <!-- số lượng -->
                                            <div class="col-md-6 ">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Số lượng</span>
                                                    </div>
                                                    <input type="number" name="amount" min="0" id="amount"
                                                        class="form-control" required
                                                        aria-label="Amount (to the nearest dollar)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- loại sản phẩm -->
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Loại sản
                                                        phẩm</label>
                                                </div>
                                                <select class="custom-select" id="type-product" name="productType">
                                                    <option selected>Choose...</option>
                                                    <option value="Thu đông">Thu đông</option>
                                                    <option value="Hè">Hè</option>
                                                    <option value="Thời trang nam">Thời trang nam</option>
                                                    <option value="Thời trang nữ">Thời trang nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Size -->
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Size sản
                                                        phẩm</label>
                                                </div>
                                                <select class="custom-select" id="size-product" name="size">
                                                    <option selected>Choose...</option>

                                                    <option value="S">Size S</option>
                                                    <option value="L">Size L</option>
                                                    <option value="XL">Size XL</option>
                                                    <option value="XXL">Size XXL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- mô tả -->
                                <div class="input-group px-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Mô tả</span>
                                    </div>
                                    <textarea class="form-control" aria-label="With textarea" name="description"
                                        required id="description"></textarea>
                                </div>
                                <div class="row px-2">
                                    <div class="col-md-6">
                                        <!-- color -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Chọn
                                                    màu</label>
                                            </div>
                                            <select class="custom-select" id="type-product" name="color">
                                                <option selected>Choose...</option>
                                                <option value="Màu trắng">Màu trắng</option>
                                                <option value="Màu đen">Màu đen</option>
                                                <option value="Màu đỏ">Màu đỏ</option>
                                                <option value="màu xanh dương">màu xanh dương</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <!-- iamge -->
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <!-- <span class="input-group-text">Upload</span> -->
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    name="image">
                                                <label class="custom-file-label" for="inputGroupFile01">Upload file
                                                    image</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="text-center me-5">
                                        <button type="submit" class="create btn btn-primary me-5">Thêm sản
                                            phẩm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="editProduct"></div>
                    </div>
                    <!-- table -->
                    <div class="row  itemKhachHang my-5 mx-1">
                        <h3><span class="text-danger"><i class="fa fa-home" aria-hidden="true"></i>
                            </span> danh sách sản phẩm</h3>
                        <!-- <table class="table table-sm table-striped table-hover table-bordered" id="tablePage"> -->
                            <table id="tablePage" class="display nowrap table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#STT</th>
                                    <th>HÌNH ẢNH</th>
                                    <th>TÊN SẢN PHẨM</th>
                                    <th>GIÁ</th>
                                    <th>TỔNG SỐ LƯỢNG</th>
                                    <th>THỜI GIAN</th>
                                    <th>CHỈNH SỬA</th>
                                    <th>XÓA</th>
                                </tr>
                            </thead>
                            <tbody id="after_run">

                                <% for(var i=0; i < allProduct.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td><img src="<%= allProduct[i].image %>" alt="" width="100px" height="100px">
                                        </td>
                                        <td>
                                            <%= allProduct[i].name %>
                                        </td>
                                        <td>
                                            <%= allProduct[i].price %>
                                        </td>
                                        <td>
                                            <%= allProduct[i].amount %>
                                        </td>
                                        <td>
                                            <%= i %>
                                        </td>

                                        <td>
                                            <a id='tr_99' class='text-warning'
                                                onclick="edit('<%= JSON.stringify(allProduct[i])%>', '<%= allProduct[i].id %>')">
                                                <i class="fa fa-pencil-square-o  aria-hidden=" true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="" class='btn btn-link' data-toggle="modal"
                                                data-target="#delete-product-model" data-id="<%= allProduct[i].id %>">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                <!-- xoa -->
                                            </a>
                                        </td>
                                        <% }%>
                                            <!-- confirm  -->
                                            <div class="modal fade" id="delete-product-model" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm
                                                            </h5>
                                                            <button type="button" class="btn-close border-0"
                                                                data-dismiss="modal" aria-label="Close">X</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Bạn chắc chắn muốn xóa sản phẩm
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-dark"
                                                                data-dismiss="modal">Hủy</button>
                                                            <button type="button" class="btn btn-danger"
                                                                id="btn-delete-product">Xóa bỏ</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- _______________oder-infor_____________________ -->

                    <div class="ad-content-items m-2 px-2 py-5 bg-white">
                        <div class="ad-content-title mb-3 text-primary">
                            <h4>Danh sách đơn đặt hàng</h4>
                        </div>

                        <div class="table-responsive" id="list-oder">


                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th class="text-center" scope="col">Mã đơn</th>
                                        <th class="text-center" scope="col">Khách hàng</th>
                                        <th class="text-center" scope="col">Địa chỉ</th>
                                        <th class="text-center" scope="col">Thời gian</th>
                                        <th class="text-center" scope="col">Note</th>

                                    </tr>
                                </thead>

                                <tbody id="list-inforUser-oder">
                                    <!-- render -->
                                    
                                </tbody>

                            </table>
                        </div>

                        <div id="detail-oder">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col">Phân loại</th>
                                            <th scope="col">Đơn giá</th>
                                            <th scope="col" class="text-center">Số lượng(kg)</th>
                                            <th scope="col">Thành tiền</th>

                                        </tr>
                                    </thead>

                                    <tbody id="oder-product">
                                        <!-- render -->
                                        
                                    </tbody>

                                </table>
                            </div>

                            <div class="table-responsive d-flex justify-content-center my-3">
                                <table>
                                    <tbody id="inforUser-oder">
                                        <!-- render -->
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <!-- _______________comments_____________________ -->

                    <div class="ad-content-items m-2 px-2 py-5 bg-white">
                        <div class="ad-content-title mb-3 text-primary">
                            <h4>Danh sách phản hồi</h4>
                        </div>

                        <div class="list-rated">
                            <!-- rd -->


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 <!-- Delete hidden form -->
 <form method="POST" name="delete-product-form"></form>
    </div>


    <!-- ________________________JavaScript________________________ -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/admin.js"></script>
    <script>
        let updateButton = document.querySelector('.update');
        updateButton.style.display = "none";
        function update(id) {
            console.log(typeof id)
        }
    </script>


</body>

</html>
<script>
    var addproduct = document.getElementById('addProduct');
    var editProduct = document.getElementById('editProduct');
    $(document).ready(function () {
        $('#tablePage').DataTable( {
        // ajax:           "../data/2500.txt",
        deferRender:    true,
        scrollY:        600,
        scrollCollapse: true,
        scroller:       true
         } );
        let numberPage = document.getElementsByClassName('tablePage_length')
        // let giaTri = numberPage.options[].text;
        // console.log(giaTri)



        addproduct.innerHTML = `
            <h4 class="text-primary  my-3">Thêm sản phẩm</h4>
                            <form id="elements" name="form-addproduct" method="POST" action="/admin/product"
                                enctype="multipart/form-data">
                                <div class="row px-4">
                                    <div class="col-md-6">
                                        <!--  Tên sản phẩm -->
                                        <div class="row pr-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">Tên
                                                        sản phẩm:</span>
                                                </div>
                                                <input type="text" class="form-control" name="name" required id="name"
                                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- giá -->
                                            <div class="col-md-6 ml-0 px-0">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Giá (VNĐ)</span>
                                                    </div>
                                                    <input type="number" class="form-control" name="price" required
                                                        id="price" aria-label="Amount (to the nearest dollar)" min="0">
                                                </div>
                                            </div>
                                            <!-- số lượng -->
                                            <div class="col-md-6 ">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Số lượng</span>
                                                    </div>
                                                    <input type="number" name="amount" min="0" id="amount"
                                                        class="form-control" required
                                                        aria-label="Amount (to the nearest dollar)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- loại sản phẩm -->
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Loại sản
                                                        phẩm</label>
                                                </div>
                                                <select class="custom-select" id="type-product" name="productType">
                                                    <option selected>Choose...</option>
                                                    <option value="Thu đông">Thu đông</option>
                                                    <option value="Hè">Hè</option>
                                                    <option value="Thời trang nam">Thời trang nam</option>
                                                    <option value="Thời trang nữ">Thời trang nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Size -->
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Size sản
                                                        phẩm</label>
                                                </div>
                                                <select class="custom-select" id="size-product" name="size">
                                                    <option selected>Choose...</option>

                                                    <option value="S">Size S</option>
                                                    <option value="L">Size L</option>
                                                    <option value="XL">Size XL</option>
                                                    <option value="XXL">Size XXL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- mô tả -->
                                <div class="input-group px-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Mô tả</span>
                                    </div>
                                    <textarea class="form-control" aria-label="With textarea" name="description"
                                        required id="description"></textarea>
                                </div>
                                <div class="row px-2">
                                    <div class="col-md-6">
                                        <!-- color -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Chọn
                                                    màu</label>
                                            </div>
                                            <select class="custom-select" id="type-product" name="color">
                                                <option selected>Choose...</option>
                                                <option value="Màu trắng">Màu trắng</option>
                                                <option value="Màu đen">Màu đen</option>
                                                <option value="Màu đỏ">Màu đỏ</option>
                                                <option value="màu xanh dương">màu xanh dương</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <!-- iamge -->
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <!-- <span class="input-group-text">Upload</span> -->
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    name="image">
                                                <label class="custom-file-label" for="inputGroupFile01">Upload file
                                                    image</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="text-center me-5">
                                        <button type="submit" class="create btn btn-primary me-5">Thêm sản
                                            phẩm</button>
                                    </div>
                                </div>
                            </form>`
    });
    function edit(product, id) {
        var allProduct = JSON.parse(product)
        // let product = i;
        addproduct.innerHTML = ``

        editProduct.innerHTML =
            ` 
            <h4 class="text-primary my-3 ">Chỉnh sửa thông tin sản phẩm</h4>
            <form id="elements" name="form-addproduct" method="POST" action="/admin/product/${id}?_method=PUT" enctype="multipart/form-data"
                enctype="multipart/form-data">
                <div class="row px-4">
                    <div class="col-md-6">
                        <!--  Tên sản phẩm -->
                        <div class="row pr-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Tên
                                        sản phẩm:</span>
                                </div>
                                <input type="text" class="form-control" name="name" required id="name"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <!-- giá -->
                            <div class="col-md-6 ml-0 px-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Giá (VNĐ)</span>
                                    </div>
                                    <input type="number" class="form-control" name="price" required
                                        id="price" aria-label="Amount (to the nearest dollar)" min="0">
                                </div>
                            </div>
                            <!-- số lượng -->
                            <div class="col-md-6 ">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Số lượng</span>
                                    </div>
                                    <input type="number" name="amount" min="0" id="amount"
                                        class="form-control" required
                                        aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- loại sản phẩm -->
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Loại sản
                                        phẩm</label>
                                </div>
                                <select class="custom-select" id="type-product" name="productType">
                                    <option selected>Choose...</option>
                                    <option value="Thu đông">Thu đông</option>
                                    <option value="Hè">Hè</option>
                                    <option value="Thời trang nam">Thời trang nam</option>
                                    <option value="Thời trang nữ">Thời trang nữ</option>
                                </select>
                            </div>
                        </div>
                        <!-- Size -->
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Size sản
                                        phẩm</label>
                                </div>
                                <select class="custom-select" id="size-product" name="size">
                                    <option selected>Choose...</option>

                                    <option value="S">Size S</option>
                                    <option value="L">Size L</option>
                                    <option value="XL">Size XL</option>
                                    <option value="XXL">Size XXL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mô tả -->
                <div class="input-group px-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mô tả</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" name="description"
                        required id="description"></textarea>
                </div>
                <div class="row px-2">
                    <div class="col-md-6">
                        <!-- color -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Chọn
                                    màu</label>
                            </div>
                            <select class="custom-select" id="type-product" name="color">
                                <option selected>Choose...</option>
                                <option value="Màu trắng">Màu trắng</option>
                                <option value="Màu đen">Màu đen</option>
                                <option value="Màu đỏ">Màu đỏ</option>
                                <option value="màu xanh dương">màu xanh dương</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- iamge -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <!-- <span class="input-group-text">Upload</span> -->
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    name="image">
                                <label class="custom-file-label" for="inputGroupFile01">Upload file
                                    image</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="text-center me-5">
                        <button type="submit" class="create btn btn-primary me-5">Chỉnh sửa</button>
                    </div>
                </div>
            </form>`

        document.getElementById('name').value = allProduct.name
        document.getElementById('type-product').value = allProduct.productType
        document.getElementById('price').value = allProduct.price
        document.getElementById('description').value = allProduct.description
        document.getElementById('size-product').value = allProduct.size
        document.getElementById('amount').value = allProduct.amount
        document.forms.elements.elements["color"].value = allProduct.color
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var productId;
        var btnDeletePro = document.getElementById('btn-delete-product');
        var deleteForm = document.forms['delete-product-form'];
        // when dialog confirm clicked
        $('#delete-product-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            productId = button.data('id')
            btnDeletePro.onclick = function () {
                deleteForm.action = '/admin/product/' + productId + '?_method=DELETE'
                deleteForm.submit();
            }
        })
    })

</script>